.like-hero {
    height: 45vh;
    position: relative;


    .details {
        padding: 0px 20px;
        gap: 15px;
        position: absolute;
        bottom: 50px;

        .img-container {
            width: 200px;
            box-shadow: 0px 0px 20px rgba(0,0,0, 0.2);
        }

        .user-details {
            gap: 15px;

            small {
                text-transform: uppercase;
                font-family: latobold, serif;
            }

            h1 {
                font-size: rem(60px);
            }
        }
    }
}