

.nav-container {
   
    background-color: $clr5;
    padding: 0.750rem;
    border-right: 1px solid $clr4;
    
    a {
        gap: 10px;
    }

      .active {
            color: $clr1;
        }
    

    .logo-container {
        margin-bottom: 2rem;
        padding: 0 16px;
        // font-family: playball , serif;
        font-size: rem(40px);

        span {
            color: $clr1;
        }
    }


    ul li {
        padding: 0px 16px;
        height: 45px;
        gap: 10px;
        
    
    }

    .link-container {
        color: rgba($color: $clr6, $alpha: .6);
        transition: color .3s;

        .icon {
            width: 20px;
            height: 20px;
            font-size: rem(24px);
        }

        &:hover {
            color: $clr6;
        }
    }

    .nav-hr {
        opacity: 0.4;
    }

    .user-created-stations {
        display: none;
    }


    @include for-wide-layout {
        .link-container{
            .icon {
                font-size: rem(18px);
            }
        }

        .user-created-stations {
            display: flex;
            padding: 10px;
            gap: 10px;
            max-height: 650px;
            overflow-y: scroll;
            color: $clr3;

            .station-name {
                &:hover {
                    color: $clr1;
                }
            }

        }
    }

}
