.time-bar {
    gap: 10px;
    margin: auto;


    .MuiSlider-root {
        display: none;
    }

    .count {
        display: none;
    }
    
    .MuiSlider-rail {
        background-color: darken($clr6, 60%);
        // :hover {
        //     .MuiSlider-track {
        //         background-color: $clr1;
        //     }
        // }

    }

    .MuiSlider-track {
        &:hover {
            background-color: $clr1;
        }
    }

    @include for-wide-layout {
        .MuiSlider-root {
        color: white;
        width: 200px;
        display: flex;
    }

        .count {
            display: block;
        }

    }
}