.volume-container {
    gap: 10px;
    margin: auto;
    
    button {
        background: none;
        border: none;
        color: darken($clr6, 40%);
        font-size: rem(16px);
        cursor: pointer;
    }

    .MuiSlider-root {
        color: white;
        width: 200px;
    }
    
    .MuiSlider-rail {
        background-color: darken($clr6, 60%);
    }

}