
.playlist {
    margin-bottom: rem(50px);
    padding: 0px 20px;

    .station-song-info-title{
        justify-content: space-between;
        width: 100%;

        .title {
            flex-basis: 60%;
            text-align: left;
            padding-left: 20px;
        }
        .wrraper { 
            flex-basis: 40%;
        }

        
    }
    .songs-container{
        
        
        .station-song-details {
            padding: 5px 10px;
            align-items: center;
            border-radius: 10px;

            .playing {
                color: $clr1;
            }


            .play-icon {
                opacity: 0;
                cursor: pointer;
            }

            .delete-btn {
                opacity: 0;
            }
            
            .like-btn {
                opacity: 0;
            }
            
            &:hover {           
                background-color: $clr3;
                        
                .absolute {
                    opacity: 0;
                }

                .play-icon {
                    opacity: 1;

                    &:hover {
                        color: $clr1;
                    }
                }

                .delete-btn {
                    opacity: 1;
                }

                .like-btn {
                    opacity: 1;
                }
            }
            
            .song-info {
                align-items: center;
                gap:  15px;
                flex-basis: 60%;

                .img-container{
                    padding-left: 30px;
                    
                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 2px;
                    }
                }
                .playing {
                    padding-left: 0px;
                }

                .dont-show {
                    opacity: 0;
                }   

            }
        
    
            .wrraper { 
                flex-basis: 40%;

                .song-duration {
                    width: 10px;
                    gap: 10px;
                }

                .btn-container {
                    gap: 2px;

                    button {
                        background: none;
                        border: none;
                        color: $clr6;
                        cursor: pointer;

                        &:hover {
                            color: $clr1;
                        }
                    }
                }
            }
        }
    
    }

}