.time-bar {
    gap: 10px;
    margin: auto;


    .MuiSlider-root {
        color: white;
        width: 200px;
    }
    
    .MuiSlider-rail {
        background-color: darken($clr6, 60%);
    }
    @include for-wide-layout {
        
    }
}