.volume-container {
    gap: 10px;
    margin: auto;
    
    button {
        background: none;
        border: none;
        color: darken($clr6, 40%);
        font-size: rem(16px);
        cursor: pointer;
    }
}