.stations-lists-container {

    .station-list-by-genre{
        max-height: 350px;
        overflow: hidden;
        
        .station-list {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
            margin-top: 0px;
            justify-content: space-around;
        }

        .wrraper {
            margin-top: 65px;
            padding: 0px 20px;
            text-transform: uppercase;

            h1 {
                font-size: rem(20px);
            }

            p {
                font-family: latobold;
                text-decoration: underline;

                &:hover{
                    color: $clr1;
                }
            }
        }
    }
}




@include for-normal-layout {
    .stations-lists-container {
        .station-list-by-genre{
            max-height: 370px;
        
            .station-list {
                grid-template-columns: repeat(auto-fill, minmax(170px, 190px));
                gap: 5px;
            }
            .wrraper {    
                h1 {
                    font-size: rem(18px);
                }
            }
        }
    }

}


@include for-wide-layout {

.stations-lists-container {

    .station-list-by-genre{
        max-height: 400px;
        
        .station-list {
            grid-template-columns: repeat(auto-fill, minmax(210px, 220px));
        }

        .wrraper {

            h1 {
                font-size: rem(18px);
            }
        }
    }
}
}