
.search-container{

    padding: 0px 20px;
    margin-bottom: $base-margin;
    margin-top: 65px;


    .song-img-container {
        

        img { 
            border-radius: 5px;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
    }

    .search-by-text {
        margin-bottom: 30px;

        input {
            width: 350px;
            height: 40px;
            padding: 8px 36px;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.7);
            border: none;

            &:focus {
                outline: none;
            }
        }

        .list-container {
            margin-top: 30px;
            
            h1 {
                font-size: rem(20px);
                margin-bottom: 10px;
            }

            .song{
                justify-content: space-between;
                width: 100%;
                border-radius: 5px;
                padding: 0px 20px;

                button {
                    opacity: 0;
                    
                }
        
                &:hover {
                    button {
                        opacity: 1;
                    }
                }

                .song-info{
                    align-items: center;
                    gap: 15px;
                    flex-basis: 65%;
                    max-width: 40ch;
                    position: relative;

                    &:hover {

                        .song-idx {
                            opacity: 0;
                        }
                    }
                }

                .play-icon {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;

                    &:hover {
                        color: $clr1;
                    }
                }
                
                &:hover {           
                    background-color: $clr3;
                            
                    .play-icon {
                        opacity: 1;
                        z-index: 10;
                    }
                }

                .btns-and-like {
                    align-items: center;
                    gap: 10px;
                    flex-basis: 20%;

                    .duration {
                        width: 50px;
                    }

                    button {
                        background: none;
                        border: none;
                        color: darken($clr6, 30%);
                        cursor: pointer;

                        &:hover {
                            color: $clr1;
                        }
                    }
                }
            }
        }
    }

    .stations-by-genre {
        
        flex-wrap: wrap;
        gap: 20px;

        .genre {
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 5px;
            overflow: hidden;

            .img-container {
                width: 120px;
                position: absolute;
                right: 0%;
                bottom: 0%;
                transform: rotate(25deg) translate(15%);

            }

            &:hover {
                cursor: pointer;
                opacity: 0.8;

            }
            
            h1 {
                padding: 20px;
                font-size: rem( 30px);
            }
        }
    }



    @include for-normal-layout {
        .song {
            .song-info{
                align-items: center;
                gap: 15px;
                flex-basis: 65%;
                min-width: 50ch;
        
                &:hover {
        
                    .song-idx {
                        opacity: 0;
                    }
                }
            }
    
        }
    }




    @include for-wide-layout {
    .stations-by-genre {
        
        flex-wrap: wrap;
        gap: 20px;

        .genre {
            width: 250px;
            height: 250px;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                opacity: 0.8;

            }
            
            h1 {
                padding: 20px;
                font-size: rem( 30px);
            }
        }
    }

    .song {
        .song-info{
            align-items: center;
            gap: 15px;
            flex-basis: 65%;
            min-width: 50%;
    
            &:hover {
    
                .song-idx {
                    opacity: 0;
                }
            }
        }

    }
  }
}